@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/css/unilogo.png" alt="Logo CIEMI" style="width: 1054px; height: 60px" />
    
</div>

<div class="container">
    
    <iframe title="Practica Informe Power BI Grupo 7" width="100%" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZDQ4NTNhZDctMTdlZS00ZWEyLWFmNWUtM2NhNmE1MmUzNTBmIiwidCI6ImRiNDlmMTcxLTlhZWQtNDQ3Ny1hZmRjLWJjYWIwNjllYjc1YiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</div>